.btn-primary {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #007bff;
  border: none;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.btn-primary:disabled {
  background-color: #007bff;
  opacity: 0.65;
  cursor: not-allowed;
}
