<mat-toolbar color="primary" style="background: cornflowerblue; display: flex; justify-content: space-between;">
  <img src="assets/logo.png" alt="Golden line" style="height: 62px; width: 62px; border-radius: 50%; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" />
  <span style="flex: 1 1 auto"></span>
  <div>
    @if (isLoggedIn()) {
      <button mat-button routerLink="/stats" class="btn-primary">Customer Stats</button>
    }
    @if (!isLoggedIn()) {
      <button mat-button routerLink="/login" class="btn-primary">Login</button>
    }
    @if(isLoggedIn()) {
      <button mat-button  routerLink="/login" (click)="logout()" class="btn-primary">Logout</button>
    }
    @if(!isLoggedIn()) {
      <button mat-button  routerLink="/register" class="btn-primary">Register</button>
    }
    @if (isAdmin()) {
      <button mat-button  routerLink="/admin" class="btn-primary">Admin</button>
    }
  </div>
</mat-toolbar>
