.login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-banner {
  background-color: #f8d7da; /* Light red background for error */
  color: #721c24; /* Dark red text */
  text-align: center;
  font-size: 24px; /* Larger font size */
  padding: 20px 0;
  z-index: 1000; /* Ensure it's on top of other elements */
  font-weight: bold; /* Make the text bold */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add a slight shadow */
}
