@if(this.error) {
  <ng-container>
    <div class="error-banner"> {{this.errorMessage}} </div>
  </ng-container>
}
<form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      class="form-control"
      required
      [(ngModel)]="user.email"
      name="email"
      #email="ngModel" />

    <div *ngIf="email.invalid && email.touched" class="error-message">
      Email is required and must be valid.
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      class="form-control"
      required
      minlength="6"
      [(ngModel)]="user.password"
      name="password"
      #password="ngModel" />

    <div *ngIf="password.invalid && password.touched" class="error-message">
      Password is required and must be at least 6 characters long.
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="loginForm.invalid">
    Login
  </button>
</form>
