<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%; padding: 10px;">
    <button mat-raised-button color="primary" (click)="updateStats()" style="font-family: 'Arial', sans-serif; font-size: 16px; padding: 10px 20px;">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <h1 style="text-align: center; margin-top: 20px;">Golden line</h1>
    <!-- Your existing content -->
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px" [style.margin-top]="'12px'">
        <mat-card class="example-card" style="margin-right: min(0px)">
            <mat-card-header>
                <mat-card-title>Les dépenses par catégorie en fonction de la catégorie socioprofessionnelle</mat-card-title>
            </mat-card-header>
            <div fxLayout="row" style="height: 500px;">
                <ag-charts-angular
                        *ngIf="isBrowser"
                        style="height: 100%; width: 100%"
                        [options]="statsChartOptions">
                </ag-charts-angular>
            </div>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Les dépenses du panier moyen en fonction de la catégorie socioprofessionnelle</mat-card-title>
            </mat-card-header>
            <div style="height: 500px;">
                <ag-charts-angular
                        *ngIf="isBrowser"
                        style="height: 100%; width: 100%"
                        [options]="meanStatsChartOptions">
                </ag-charts-angular>
            </div>
        </mat-card>
    </div>
</div>
