.example-card {
  width: 45%; /* Adjust the width as necessary */
  min-width: 300px; /* Minimum width to maintain a reasonable size */
  margin: 12px; /* Add some margin around the cards */
}

h1 {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-family: 'Arial', sans-serif; /* Change the font as needed */
}
