.container {
  margin-top: 20px;
  justify-content: center;
}

.table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto; /* Centre le tableau dans son conteneur */
}

.table th, .table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.btn-success {
  color: white;
  background-color: green;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.align-center {
  text-align: center;
}
