<div class="container">
  <h2 class="align-center">Users list</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Date de création</th>
      <th>Rôle</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      @for(user of users; track user.email) {
        <tr>
          <td>{{ user.fullName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.createdAt | date: 'dd/MM/yyyy' }}</td>
          <td>{{ user.role }}</td>
          @if(!user.active) {
            <td>
              <button class="btn btn-success" (click)="activate(user)">Activate</button>
            </td>
          } @else {
            <td>
              <button class="btn btn-success" (click)="deactivate(user)">Deactivate</button>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
