<!--form to register user with mail, fullname and password-->
<form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="register-form">
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      class="form-control"
      required
      [(ngModel)]="user.email"
      name="email"
      #email="ngModel" />
    @if(email.invalid && email.touched) {
      <div class="error-message">
        Email is required and must be valid.
      </div>
    }
  </div>
  <div class="form-group">
    <label for="fullname">Full Name:</label>
    <input
      type="text"
      id="fullname"
      class="form-control"
      required
      [(ngModel)]="user.fullName"
      name="fullname"
      #fullname="ngModel" />

    @if(fullname.invalid && fullname.touched) {
      <div class="error-message">
        Full Name is required.
      </div>
    }
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      class="form-control"
      required
      minlength="6"
      [(ngModel)]="user.password"
      name="password"
      #password="ngModel" />

    @if (password.invalid && password.touched) {
      <div class="error-message">
        Password is required and must be at least 6 characters long.
      </div>
    }
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="registerForm.invalid">
    Register
  </button>
</form>
